<%= form_for(@video, :remote => true, :html => { :id => 'video_form' }) do |v| %>
                <% if @video.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

                    <ul>
                    <% @video.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= v.label :urlID %><br>
                  <%= v.text_field :urlID, :class => 'video_urlid'%>
                </div>
                <div class="field">
                  <%= v.label :thumbnail %><br>
                  <%= v.text_field :thumbnail, :class => 'video_thumbnail' %>
                </div>
                <div class="field">
                  <%= v.label :order %><br>
                  <%= v.number_field :order, :class => 'video_order' %>
                </div>
                <div class="field">
                  <%= v.label :description %><br>
                  <%= v.text_area :description, :class => 'video_description' %>
                </div>
                <div class="field">
                  <%= v.label :title %><br>
                  <%= v.text_field :title, :class => 'video_title' %>
                </div>

                <!-- <p><%= @curric_id %></p> -->
                
                <!-- <%= @curric_id %> -->
                <div class="field">
                <input type="hidden" name='curriculum_id' value=<%=@curric_id%>>
                </div>
                <div class="actions">

                  <%= v.submit 'addvideobutton', :class => "form_submit" %>
                </div>
              <% end %>