<div id  = "container">

	<div id="edit-curriculum">
		<h1>Edit Curriculum: <%= @curriculum.title %></h1>

	<!-- Curriculum Edit Form -->
			<center><%= render 'form' %></center>
			<br /><br />

	<!-- Save curriculum button -->
		<% if @videos.length >= 1 %>
		    <center><a href="/videos/<%= @videos.order(:order).first.id%>"><button  class="btn-primary">Preview Curriculum</button></a></center>
		<% end %>
	<!-- Add More Videos Button -->
			<br /><br /><br />
			<center><button class="btn-primary addvideobutton">Add More Videos</button></center>
	<!-- Add Video Form -->
			<center><div class="addvideo">
				<div class="addvideoform">
				  <%= render 'video_form' %>
			  </div>
			</div></center>
	</div>

	<div id = "sidebar">
				<h2> Current Video Lineup </h2>
				<div class="videos">
				<%= render "videos", :videos => @videos %>
				</div>
	</div>

</div>





