<%= form_tag('/curriculums', remote: true) do %>
  <%= select_tag(:option, options_for_select([['Javascript', 1,{:class => "javaScript"}], ['Ruby', 2,{:class => "ruby"}], ['Python', 3, {:class => "Phyton"}]], selected: :option ),{ :class => 'topic' }) %>
  <%= select_tag(:option, options_for_select([['Beginner', 1, {:class => "beginner"}], ['Intermediate', 2, {:class => "intermediate"}], ['Advanced', 3, {:class => "advanced"}]], selected: :option ), { :class => 'level' }) %>
  <%= submit_tag 'Filter' %>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Listing Curriculums</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Level</th>
      <th>User</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>

        <td><%= link_to curriculum.title, curriculum, remote: true %></td>

        <% @votes = Vote.where("curriculum_id=#{curriculum.id}") %> 
        <% @rating = @votes.sum(:value)  %> 

        <td><%= @rating %></td>
        <td><%= curriculum.description %></td>
        <td <%if curriculum.level.to_i == 1 %> 
              class = "one"
              <%elsif curriculum.level.to_i == 2 %> 
              class = "two"
              <%elsif curriculum.level.to_i == 3 %> 
              class = "three"
              <%end%>
        ><%= curriculum.level %></td>
        <td><%= curriculum.user %></td>
        <td><%= curriculum.topic %></td>
        <td><%= link_to 'Show', curriculum %></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
        <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculum', new_curriculum_path %>
