<!-- Dropdowns to select "Topic" and "Level" -->
<%= form_tag('/curriculums', remote: true) do %>

  <!-- Topic Dropdown -->
    <%= select_tag(:topic, options_for_select(
      [
        ['Topic', 0], 
        ['Javascript', 1,{:class => "javaScript"}], 
        ['Ruby', 2,{:class => "ruby"}], 
        ['Python', 3, {:class => "Phyton"}]
      ], selected: :topic ),
      { :id => 'topic' }) %>

  <!-- Level Dropdown -->
    <%= select_tag(:level, options_for_select(
      [
        ['Level', 0], 
        ['Beginner', 1, {:class => "beginner"}], 
        ['Intermediate', 2, {:class => "intermediate"}], 
        ['Advanced', 3, {:class => "advanced"}]
      ], selected: :level ), 
      { :id => 'level' }) %>

  <% end %>



<!-- Curriculum Table Display -->
<p id="notice"><%= notice %></p>

<h1>Listing Curriculums</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Level</th>
      <th>User</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id = "curriculums">
    <% @curriculums.each do |curriculum| %>
      <tr <%if curriculum.level.to_i == 1 %> 
              class = "level one <%= curriculum.topic.name %> "
              <%elsif curriculum.level.to_i == 2 %> 
              class = "level two <%= curriculum.topic.name %>"
              <%elsif curriculum.level.to_i == 3 %> 
              class = "level three <%= curriculum.topic.name %>"
          <%end%>>

        <td><%= link_to curriculum.title, curriculum, remote: true %></td>
        <td><%= curriculum.rating %></td>
        <td><%= curriculum.description %></td>
        <td><%= curriculum.level %></td>
        <td><%= curriculum.user.fname + " " + curriculum.user.lname%></td>
        <td><%= curriculum.topic.name %></td>
        <td><%= link_to 'Show', curriculum %></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
        <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculum', new_curriculum_path %>
