<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @curriculum.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @curriculum.description %>
</p>

<p>
  <strong>Level:</strong>
  <%if @curriculum.level.to_i == 1 %> 
    Beginner
    <%elsif @curriculum.level.to_i == 2 %> 
    Intermediate
    <%elsif @curriculum.level.to_i == 3 %> 
    Advanced
  <%end%>
</p>

<p>
  <strong>User:</strong>
  <%= @curriculum.user.fname + " " + @curriculum.user.lname %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @curriculum.topic.name%>
</p>

<div>
<strong>Videos:</strong>
  <% @videos.order(:order).each do |v| %>
    <p><%= v.order %>
    <%= v.title %></p>
   
    <% v.urlID = v.urlID.split("=")[1] %>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= v.urlID %>" frameborder="0" allowfullscreen>
    </iframe>
  
  <% end %>
</div>


<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
