<p id="notice"><%= notice %></p>

      <p>
        <strong>Title:</strong>
        <%= @curriculum.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @curriculum.description %>
      </p>

      <p>
        <strong>Level:</strong>
        <% if @curriculum.level == 1 %>
          Beginner
        <% elsif @curriculum.level == 2 %>
          Intermediate
        <% elsif @curriculum.level == 3 %>
          Advanced
        <% end %>
      </p>

      <p>
        <strong>Creator:</strong>
        <%= link_to "#{@curriculum.user.fname} #{@curriculum.user.lname}", @curriculum.user %>
      </p>

      <p>
        <strong>Topic:</strong>
        <%= @curriculum.topic.name %>
      </p>

<div>
<strong>Videos:</strong>
      <!-- counter checks for first video -->
  <% counter = 0 %>
  <% @videos.order(:order).each do |v| %>
    <div class="videolist">
        <!-- first video -->
        <% if counter == 0 %>
          <p><%= v.order %>
          <%= v.title %></p>
          <% v.urlID = v.urlID.split("=")[1] %>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= v.urlID %>" frameborder="0" allowfullscreen>
          </iframe>
        <% end %>
        <% counter += 1 %>
    </div>
  <% end %>
</div>

<!-- this div shows all other than first video -->
<div>
  <% counter = 0 %>
  <% @videos.order(:order).each do |v| %>
    <% if counter != 0 %>
      <p>
        <%= v.order %>
        <a href="/videos/<%= v.id %>"><%= v.title %></a>
      </p>
      <% v.urlID = v.urlID.split("=")[1] %>
      </iframe>
    <% end %>
  <% counter += 1 %>
  <% end %>
</div>
        



<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
