<!-- Curriculum Table Display -->
<p id="notice"><%= notice %></p>

  <h1><%= @topic.name %> Curriculums
    <div class="level">
      
    <!-- Dropdowns to select "Level" -->
    <%= form_tag('/curriculums', remote: true) do %>

      <!-- Level Dropdown -->
        <%= select_tag(:level, options_for_select(
          [
            ['All Levels', 0], 
            ['Beginner', 1, {:class => "beginner"}], 
            ['Intermediate', 2, {:class => "intermediate"}], 
            ['Advanced', 3, {:class => "advanced"}]
          ], selected: :level ), 
          { :id => 'level' }) %>

      <% end %>
    </div>
  </h1>

<table id = "curriculums" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Level</th>
      <th>Rating</th>
      <th>Video Count</th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr <%if curriculum.level.to_i == 1 %> 
              class = "curriculum one <%= curriculum.topic.name %> "
              <%elsif curriculum.level.to_i == 2 %> 
              class = "curriculum two <%= curriculum.topic.name %>"
              <%elsif curriculum.level.to_i == 3 %> 
              class = "curriculum three <%= curriculum.topic.name %>"
          <%end%>>

        <td><%= link_to curriculum.title, curriculum %></td>
        <td><%= link_to curriculum.user.fname+" "+curriculum.user.lname, curriculum %></td>
        <td><%if curriculum.level.to_i == 1 %> 
              Beginner
              <%elsif curriculum.level.to_i == 2 %> 
              Intermediate
              <%elsif curriculum.level.to_i == 3 %> 
              Advanced
          <%end%></td>
        <td><%= curriculum.rating %></td>
        <td><%= curriculum.videocount %></td>
      </tr>
    <% end %>
  </tbody>
</table>