<!-- Curriculum Table Display -->
<p id="notice"><%= notice %></p>

  <h1 style="font-family:'Lora'; font-size: 35px; letter-spacing: 3px"><%= @topic.name.upcase %> CURRICULUMS
    <div class="level">
      
    <!-- Dropdowns to select "Level" -->
    <%= form_tag('/curriculums', remote: true) do %>

      <!-- Level Dropdown -->
        <%= select_tag(:level, options_for_select(
          [
            ['All Levels', 0], 
            ['Beginner', 1, {:class => "beginner"}], 
            ['Intermediate', 2, {:class => "intermediate"}], 
            ['Advanced', 3, {:class => "advanced"}]
          ], selected: :level ), 
          { :id => 'level' }) %>

      <% end %>
    </div>
  </h1>


  <div class="curric-list">
    <% @curriculums.each do |curriculum| %>
      <div <%if curriculum.level.to_i == 1 %> 
              class = "curriculum one <%= curriculum.topic.name %> "
              <%elsif curriculum.level.to_i == 2 %> 
              class = "curriculum two <%= curriculum.topic.name %>"
              <%elsif curriculum.level.to_i == 3 %> 
              class = "curriculum three <%= curriculum.topic.name %>"
          <%end%>>
        <div class="row">
          <div class="col-md-2">
          <!-- image of first video thumbnail -->
            <img class="thumbnail" src="https://s.ytimg.com/yts/img/yt_1200-vfl4C3T0K.png" width="100">
          </div>
          <div class="col-md-5">
            <strong>Title:</strong> <%= link_to curriculum.title, curriculum %><br />
            <strong>Creator:</strong> <img src="<%= curriculum.user.image %>" width="30"><%= curriculum.user.fname %><br />
            <strong>Number of Videos:</strong> <%= curriculum.videos.length %><br />
            <strong>Description:</strong> <%= curriculum.description %>
          </div>
          <div class="col-md-5">
            <strong>Number of Upvotes:</strong> <%= curriculum.rating %><br />
            <strong>Level:</strong> <%if curriculum.level.to_i == 1 %> 
            Beginner
            <%elsif curriculum.level.to_i == 2 %>
            Intermediate
            <%elsif curriculum.level.to_i == 3 %>
            Advanced
            <%end %> 
            <br />
          </div>
        </div>
        
      </div>
    <% end %>
  </div>