<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pw digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url if @user.image? %>
</p>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Curricula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curricula.each do |entry| %>
      <tr>
        <td><%= curriculum.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
