<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="top">
    <h2><%= @user.fname %> <%= @user.lname %></h2>
    <%= image_tag @user.image, class: 'style_image'  %>
    
    
    <button class= "user_button" >Subscribe!</button>
    <button class= "right_button contact right_button user_button" >Contact!</button>
    <button class= "email user_button right_button" ><%= @user.email %></button>
  </div>

<h2>Curriculums</h2>
<% if @current_user %>
  <% if @user.id == @current_user.id %>
    <a href= "/curriculums/new"><button class="user_button new_curric">Create a Curriculum</button></a>
  <% end %>
<% end %>

<% @curriculums.each do |c| %>
  <% level = "beginner" if c.level == 1 %>
  <% level = "intermediate" if c.level == 2 %>
  <% level = "advanced" if c.level == 3 %>
    <div class="curriculum">
     <a href="/curriculums/<%=c.id%>">
      <h3><%= c.title.capitalize %></h3>
      <!-- <%= c.user_id %><%= @user.id%> --> 
      <p><%=c.description%></p>
      <p>Difficulty: <%= level.capitalize %></p>
       </a>
      <% if @current_user %>
        <% if @user.id == @current_user.id %>
          <a href="/curriculums/<%= c.id %>/edit">Edit</a>
        <% else %>
          <input type="hidden" name="user_id" value=<%=@current_user.id%> class="user_id">
          <input type="hidden" name="curric_id" value=<%=c.id%> class="curric_id">
          <button class= "user_button subscribe_button" >Subscribe!</button>
        <% end %>
      <% end %>

    </div>
 

 
<% end %>

<% if @current_user %>
  <% if @current_user.id == @user.id %>
  <h2> Subscriptions </h2>
  <% @subscriptions.each do |s| %>
    <% if s.user_id == @user.id %>
    <a href="/subscriptions/<%=s.id%>">
      <div class="curriculum">
        <h3><%= s.user_id%></h3>
     
        <p><%=s.curriculum_id%></p>
      </div>
    </a>
    <% end %>

  <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>