<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="top">
    <h2><%= @user.fname %> <%= @user.lname %></h2>
    <%= image_tag @user.image, class: 'style_image'  %>
    <button class= "subscribe_button" style="text-align: center, margin: 0 auto">Subscribe!</button>
    <button class= "subscribe_button right_button" style="text-align: center, margin: 0 auto">Contact!</button>
  </div>

<h2>Curriculums</h2>
<% @curriculums.each do |c| %>
  <% level = "beginner" if c.level == 1 %>
  <% level = "intermediate" if c.level == 2 %>
  <% level = "advanced" if c.level == 3 %>

  <a href="/curriculums/<%=c.id%>">
    <div class="curriculum">
      <h3><%= c.title.capitalize %></h3>
      <!-- <%= c.user_id %><%= @user.id%> --> 
      <p><%=c.description%></p>
      <p>Difficulty: <%= level.capitalize %></p>
    </div>
  </a>
 
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>