<div id  = "container">

<p id="notice"><%= notice %></p>

<div class = "iframe">
<p>
  <% counter = 0 %>
  <% @videos.order(:order).each do |v| %>
    <div class="videolist">
        <!-- first video -->
        <% if v.id == @video.id %>
            
            <% v.urlID = v.urlID.split("=")[1] %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= v.urlID %>" frameborder="0" allowfullscreen>
            </iframe><br>
            <%= v.title %></p>
            <%= v.description %><br>
            <p> Maker: <%= link_to v.curriculum.user.fname, v.curriculum.user %> </p>
        <% end %>
        <% counter += 1 %>
    </div>
  <% end %>
   <strong>Votes:</strong>

<div class='votes'>
<%= render partial: 'votes' %>
  <% if current_user %>
    <p>
      <input type="hidden" name="curric" value=<%= @video.curriculum_id %> class="curric">
      <input type="hidden" name="video" value=<%= @video.id %> class="video">
      <input type="hidden" name="user" value=<%= current_user.id %> class="user">
    </p>
    </div>
    </div>
    <p style="clear: both"></p> 
  <% end %>


<div id = "sidebar">
  <% counter = 0 %>
  <% @curriculums.each do |c| %>
    <% if c.id == @video.curriculum_id %>
    <h2> Curriculum: <%= c.title.capitalize %></h2>
   <% end %>
   <%end %>
  <% @videos.order(:order).each do |v| %>

      <% if v.curriculum_id == @video.curriculum_id %>
      <p>
        <%= v.curriculum_id %>
        <%= v.order %>

        <% if v.id == @video.id %>
          <a href="/videos/<%= v.id %>" style="color: red"><%= v.title %></a>
          
        <% elsif v.id != @video.id %>
          <a href="/videos/<%= v.id %>" style="color: black"><%= v.title %></a>
          
          <% end %>
        </p>
      <% end %>
    
      <% counter += 1 %>
  <% end %>

</div>
