<div id  = "container">
<p id="notice"><%= notice %></p>

<div class = "iframe">
<p>

 user:<%= current_user.id if current_user %>
  <strong>Urlid:</strong>
   <%= @video.urlID %>
</p>


<p>
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
</p>

<p>
  <strong>Order:</strong>
  <%= @video.position %>
</p>

<% if current_user %>
<p>
  <input type="hidden" name="curric" value=<%= @video.curriculum_id %> class="curric">
  <input type="hidden" name="video" value=<%= @video.id %> class="video">
  <input type="hidden" name="user" value=<%= current_user.id %> class="user">
</p>

  <strong>Votes:</strong>

<div class='votes'>
<%= render partial: 'votes' %>
</div>
<% end %>



<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Curriculum:</strong>
  <%= @video.curriculum_id %>
</p>


  <% counter = 0 %>
  <% @videos.order(:position).each do |v| %>
    <div class="videolist">
        <!-- first video -->
        <% if v.id == @video.id %>
            <p><%= v.position %>
            <%= v.title %></p>
            <% v.urlID = v.urlID.split("=")[1] %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= v.urlID %>" frameborder="0" allowfullscreen>
            </iframe>
        <% end %>
        <% counter += 1 %>
    </div>
  <% end %>
</div>
<p style="clear: both"></p>

<div id = "sidebar">
  <% counter = 0 %>
  <% @curriculums.each do |c| %>
    <% if c.id == @video.curriculum_id %>
    <h2> Curriculum: <%= c.title.capitalize %></h2>
   <% end %>
   <%end %>
  <% @videos.order(:position).each do |v| %>

      <% if v.curriculum_id == @video.curriculum_id %>
      <p>
        <%= v.curriculum_id %>

        <% if v.id == @video.id %>
          <a href="/videos/<%= v.id %>" style="color: red"><%= v.title %></a>
          
        <% elsif v.id != @video.id %>
          <a href="/videos/<%= v.id %>" style="color: black"><%= v.title %></a>
          
          <% end %>
        </p>
      <% end %>
    
      <% counter += 1 %>
  <% end %>
  <%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
</div>


</div>
