<p id="notice"><%= notice %></p>

<p>
  <strong>Urlid:</strong>
  <%= @video.urlID %>
</p>
<% @video.urlID = @video.urlID.split("=")[1] %>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.urlID %>" frameborder="0" allowfullscreen></iframe>

<p>
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
</p>

<p>
  <strong>Order:</strong>
  <%= @video.order %>
</p>

<p>
  <input type="hidden" name="curric" value=<%= @video.curriculum_id %> class="curric">
  <input type="hidden" name="video" value=<%= @video.id %> class="video">
  <input type="hidden" name="user" value="7" class="user">
</p>
  <strong>Votes:</strong>

<div class='votes'>
<%= render partial: 'votes' %>
</div>


<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Curriculum:</strong>
  <a href=<%="/curriculums/#{@id}"%>><%=@video.curriculum.title%></a>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
